:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    border-bottom: 1 white;
    border-bottom-style: solid;
}
a{
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    font-size: 30px;
}
li {
    padding: 1rem;
    margin-left: 5%;
}

a:hover {
    color: yellow;
}

#lightsaber:hover {
    color: white;
    text-shadow: 0px 0px 10px yellow;
}

#gradient:hover {
    background-image: linear-gradient(90deg, rgb(244, 117, 255), rgb(126, 219, 255));
    background-clip: text;
    color: transparent;
}
