@import url(/footer.css);

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(255, 255, 255);
}

header {
    font-size: xx-large;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}


.streep {
    align-self: center;
    display: block;
    background-color: rgb(185, 0, 56);
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
    height: 5px;
    border-radius: 2.5px;
}

.bord {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    margin: auto;
    background-color: rgb(204, 204, 204);
    width: 450px;
    height: 450px;
}

.vak {
    border: 1px solid rgb(102, 102, 102);
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}
button {
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-left: 45%;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    border-radius: 7px;
    background-color: rgb(183, 255, 245);
}

button:hover {
    cursor: pointer;
}